/* THIS IS A GLOBAL STYLE, meaning it will apply to everything under that tag */

body {color: aquamarine;
font-family: "Times New Roman", serif;}


/* THESE ARE OTHER CSS EDITS */

h1 {color: steelblue;
  text-align: center;
  font-size: 80px;
  font-weight: "bold";
  font-family: arial, sans-serif;
}

h2 {color: turquoise;
  text-align: center;
  font-size: 32px;
  font-family: arial, sans-serif;
}

b {color: darkgray;
  font-style: "italic";
  font-size: 14px;
  text-decoration: "underline";
}


p {color: black;
  font-size: 18px;
  font-family: "Times New Roman", serif;
}

img {max-width: 800px;
  max-height: "inherit";
}

/* to add fornts go to google fonts and then make sure to add the css link into the head of of he html and change the css code */
