
body {background-color: #f6f1ed
}

h1 {color: #30231d;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 66px;
	font-weight: 800;
	line-height: 78px;
	letter-spacing: -4px;
	margin-bottom: 20px;
}

h2 {color: #30231d;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 500;
  font-size: 25px;
}

b {color: #30231d;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  text-transform: uppercase;
}

p {color: #30231d;
	font-family: 'Merriweather';
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 30px;
	max-width: 800px;
}

a {color: #cc3914;
}

a:hover {color: #50413c;
}

img {max-width: 800px;
  max-height: 'inherit';
}

/* to add fornts go to google fonts and then make sure to add the css link into the head of of he html and change the css code */
